/* input{
    font-family: monospace;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
} */
body{
    background-color: rgb(16, 16, 16);
}
h2{
    color: #e4dd1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 150%;
    translate: -1% 850%;
    font-family: 'Space Mono', monospace;

}
.jaba{
    color: rgb(238, 238, 238);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 550;
}



.in1{
    background-color: rgba(73, 73, 73, 0.806);
    position: fixed;
    bottom: 0;
    top: 400px;
    left: 530px;
    right: 0;
    height: 55px;
    width: 180px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    transition: box-shadow 0.2s ease-in;
    font-family: monospace;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}

.in2{
    background-color: rgba(73, 73, 73, 0.806);
    position: fixed;
    bottom: 0;
    top: 400px;
    left: 760px;
    right: 0;
    height: 55px;
    width: 180px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    transition: box-shadow 0.2s ease-in;
    font-family: monospace;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;

}

.submitit{
    background-color: #454545;
    border: none;
    border-radius: 10px;
    color: rgb(220, 220, 220);
    translate: 1005% 1300%;
    height: 30px;
    width: 70px;
    scale: 170%;
    font-family: 'Space Mono', monospace;
    transition: background-color 0.3s ease-in, transform 0.1s ease-in;


}
.home{
    background-color: #454545;
    border: none;
    border-radius: 32px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    /* translate: -1000% -850%; */
    font-size: 20px;
    height: 50px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    transition: box-shadow 0.1s ease-in,  transform 0.1s ease-in;

}

.submitit:hover {
    background-color: rgba(235, 235, 235, 0.849);
    transform: scale(1.05);
    border: 2px solid #d0d0d0aa; /* Set the initial border style */
    animation: border-flow 1s infinite linear;
    color: #242424;
    box-shadow: 0 0 30px  #dbdbdb8d;
}

.home:hover{
    background-color: rgba(228, 228, 228, 0.849);
    box-shadow: 0 0 60px  #dbdbdb;
    color: #454545;
    transform: scale(1.05);
}


.in1:hover{
    box-shadow: 0 0 60px  #98989760;
}
.in2:hover{
    box-shadow: 0 0 60px  #98989760;
}

.login {
    display: inline-block;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #454545;
    border: none;
    border-radius: 10px;
    color: rgb(220, 220, 220);
    font-family: 'Space Mono', monospace;
    height: 40px;
    width: 85px;
    transition: background-color 0.3s ease-in, transform 0.1s ease-in;
}
.login:hover {
    background-color: rgba(235, 235, 235, 0.849);
    transform: scale(1.05);
    border: 2px solid #d0d0d0aa; /* Set the initial border style */
    animation: border-flow 1s infinite linear;
    color: #242424;
    box-shadow: 0 0 30px  #dbdbdb8d;
}
.logintext{
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 120px;
    color: rgb(142, 142, 142);
    font-family: 'Space Mono', monospace;
}