
body{
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.home{
    background-color: #454545;
    border: none;
    border-radius: 32px;
    color: rgb(255, 255, 255);
    translate: -2400% -1800%;
    font-size: 20px;
    height: 30px;
    width: 30px;
    scale: 150%;
    font-family: 'Courier New', Courier, monospace;
    transition: box-shadow 0.1s ease-in,  transform 0.1s ease-in;

}
.home:hover{
    background-color: rgba(228, 228, 228, 0.849);
    box-shadow: 0 0 60px  #dbdbdb;
    color: #454545;
    transform: scale(1.05);
}

body.loaded {
    opacity: 1;
}

ul{
    list-style: none;
    color: rgb(245, 245, 245);
    font-family: 'Space Mono', monospace;
    text-align: center;
    scale: 140%;
}
h2{
    font-family: 'Space Mono', monospace;
    color: rgb(245, 245, 245);
}
h2 span{
    color: #e4dd1a;
}

li {
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
}

li:hover {
    scale: 1.10;
}
li:hover span{
    color: #e4dd1a;
}

@media only screen and (max-width: 600px) {
    h2{
        scale: 80%;
    }
    li{
        scale: 80%;
    }
    li:hover{
        scale:0.90;
    }

}