@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');


body{
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: rgb(245, 245, 245);
    font-family: 'Space Mono', monospace;
    scale: 200%;
}


h1:after { /* Increase specificity by targeting the span within the h1 */
    content: "";
    color: transparent; /* Start as transparent */
    transition: opacity 0.3s ease-in-out; /* Transition for opacity */
    opacity: 0;
}

h2{
    color: rgb(245, 245, 245);
    translate: 0% 80%;
    font-family: 'Space Mono', monospace;
}



ul{
    list-style: none;
    color: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
}

.moods{

    width: 100px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background: rgba(114, 114, 114, 0.286);
    border: none;
    outline: none;
    border-radius: 35cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #ffffffe7;
    border: none;
    cursor: pointer;
    margin: 25px;
    font-size: 16px;
    font-weight: 550;
    scale: 140%;
    transition: background-color 0.3s ease-in, transform 0.1s ease-in;
}

.moods:hover {
    background-color: rgba(38, 38, 38, 0.849);
    transform: scale(1.05);
    border: 2px solid #000; /* Set the initial border style */
    animation: border-flow 1s infinite linear;
    color: #e4dd1a;
}


.add{
    background-color: #454545;
    border: none;
    border-radius: 32px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    /* translate: -1000% -850%; */
    font-size: 20px;
    height: 50px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    transition: box-shadow 0.1s ease-in,  transform 0.1s ease-in;
   
}
.add:hover{
    background-color: rgba(228, 228, 228, 0.849);
    box-shadow: 0 0 60px  #dbdbdb;
    color: #454545;
    transform: scale(1.05);
}

h1 span{
    color: #e4dd1a;
}

h1:hover span {
    display: none
}
h1:hover:after {
    content: "Seb's"; 
    color: #1a1ae4;
    opacity: 1;
  }
@keyframes border-flow {
    0% {
        border-color: #000;
    }
    50% {
        border-color: #797979;
    }
    100% {
        border-color: #000;
    }
} 


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    padding-top: 40px;
    scale: 120%;
    
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    border: None;
    border-radius: 32px;
    outline: none;
    background-color: #454545;
    color: #dbdbdb;
}

.search-container select {
    padding: 10px;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    border: None;
    border-left: none;
    border-radius: 32px;
    outline: none;
    background-color: #454545;
    color: #dbdbdb;
}

.search-container button {
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    color: rgb(23, 23, 23);
    border: none;
    border-radius: 32px;
    cursor: pointer;
    height: 34px;
    width: 90px;
    background-color: #454545;
    color: #dbdbdb;

}

.search-container button:hover {
    background-color: #f0f0f6;
    color: #1f1f1f;

} 

.search-container label {
    margin-right: 10px;
    color: beige;
    font-size: 16px;
    font-family: monospace;
}

.search-container input[type="text"]:focus {
    border-color: #ff4b2b;
}

.boom-container {
    position: fixed;
    bottom: 0;

    left: 1;
    right: 0;
}

.simple-tooltip {
    display: none;
    position: absolute;
    top: -110px; /* Show the tooltip above the button */
    left: 50%;
    transform: translateX(-130%);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.boom-container:hover .simple-tooltip {
    display: inline;
}

.user-stuff-1 {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
}

.user-stuff-2 {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 100px;
}


.arrow-text {
    font-family: monospace;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #f542d4; /* Funky color contrasting with button */
}

.arrow-text::after {
    content: '↓'; 
    display: block;
    text-align: center;
    font-size: 24px;
    color: #f542d4; /* Same funky color */
}




.login {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #454545;
    border: none;
    border-radius: 32px;
    color: rgb(220, 220, 220);
    font-family: 'Space Mono', monospace;
    color: #dbdbdba2;
    height: 29px;
    width: 60px;
    transition: background-color 0.3s ease-in, transform 0.1s ease-in;
}
.login:hover {
    background-color: rgba(235, 235, 235, 0.849);
    transform: scale(1.05);
    border: 2px solid #d0d0d0aa; /* Set the initial border style */
    animation: border-flow 1s infinite linear;
    color: #242424;
    box-shadow: 0 0 30px  #dbdbdb8d;
}
footer{
    color: #dfdfdd58;
    translate: 0 500%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

