body{
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: rgb(245, 245, 245);
    font-family: 'Space Mono', monospace;
    scale: 200%;
}


h1:after { /* Increase specificity by targeting the span within the h1 */
    content: "";
    color: transparent; /* Start as transparent */
    transition: opacity 0.3s ease-in-out; /* Transition for opacity */
    opacity: 0;
}

h2{
    color: rgb(245, 245, 245);
    translate: 0% 80%;
    font-family: 'Space Mono', monospace;
}



ul{
    list-style: none;
    color: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
}

button{

    width: 100px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background: rgba(114, 114, 114, 0.286);
    border: none;
    outline: none;
    border-radius: 35cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #ffffffe7;
    border: none;
    cursor: pointer;
    margin: 25px;
    font-size: 16px;
    font-weight: 550;
    scale: 140%;
    transition: background-color 0.3s ease-in, transform 0.1s ease-in;
}

button:hover {
    background-color: rgba(38, 38, 38, 0.849);
    transform: scale(1.05);
    border: 2px solid #000; /* Set the initial border style */
    animation: border-flow 1s infinite linear;
    color: #e4dd1a;
}

h1 span{
    color: #e4dd1a;
}

h1:hover span {
    display: none
}
h1:hover:after {
    content: "Seb's"; 
    color: #1a1ae4;
    opacity: 1;
  }
@keyframes border-flow {
    0% {
        border-color: #000;
    }
    50% {
        border-color: #797979;
    }
    100% {
        border-color: #000;
    }
} 


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 12px;
    font-family: poppins;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-container select {
    padding: 10px;
    font-size: 12px;
    font-family: poppins;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 4px;
    outline: none;
}

.search-container button {
    font-size: 12px;
    font-family: poppins;
    color: white;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #1a1ae4;
}

.search-container label {
    margin-right: 10px;
    color: beige;
    font-size: 16px;
    font-family: monospace;
}

.search-container input[type="text"]:focus {
    border-color: #ff4b2b;
}

.booba-container {
    position: fixed;
    bottom: 0;

    left: 1;
    right: 0;
}

.simple-tooltip {
    display: none;
    position: absolute;
    top: -25px; /* Show the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: poppins;
    font-size: 12px;
}

.booba-container:hover .simple-tooltip {
    display: inline;
}

.booba-container button{
    width: 30px;
}

.user-stuff-1 {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
}

.user-stuff-2 {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 100px;
}


.arrow-text {
    font-family: monospace;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #f542d4; /* Funky color contrasting with button */
}

.arrow-text::after {
    content: '↓'; 
    display: block;
    text-align: center;
    font-size: 24px;
    color: #f542d4; /* Same funky color */
}


#boobas {
    border: none;
    background: none;
    outline: none;
    color: #e4dd1a;
}

@media only screen and (max-width: 600px) {
    @media (max-width: 768px) {
        .search-container input[type="text"] {
            width: 200px;
        }
    }
    button{

        width: 100px; 
        height: 30px; 
        background: rgba(114, 114, 114, 0.286);
        border: none;
        outline: none;
        border-radius: 35cm;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        color: #ffffffe7;
        border: none;
        margin: 25px;
        font-size: 16px;
        font-weight: 550;
        scale: 130%;
        transition: background-color 0.3s ease-in, transform 0.1s ease-in;
        background-color: rgba(38, 38, 38, 0.849);
        transform: scale(1.05);
        border: 2px solid #000; /* Set the initial border style */
        animation: border-flow 2s infinite linear;
    }
    h1{
        scale: 100%;
    }
    h2{
        font-size: 20px;
    }
    button:hover {
        color: #5a96c7;
    }
}
footer{
    color: #dfdfdd58;
    translate: 0 500%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}