<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/add.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Add Your Own Songs</h1>
    
    <div class="form-container">
        <form action="{{ url_for('add_song') }}" method="POST">
            <div class="title1">
                <label class="jaba" for="title">Song Title:</label><br>
                <input class="in1" type="text" id="title" name="title" required></input><br><br>
            </div>

            <div class="title2">
                <label class="jaba" for="artist">Artist Name:</label><br>
                <input class="in2" type="text" id="artist" name="artist" required></input><br><br>
            </div>
            <div class="title3">
                <label class="jaba" for="mood">Mood:</label><br>
                <input class="in3" type="text" id="mood" name="mood" required></input><br><br>
            </div>


            <input class="submitit" type="submit" value="Submit" class="submit-btn">

            <button class="home"  id="fixed-button" onclick="window.location.href='/'"> ←</button>

        </form>
    </div>

    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

</body>
</html>