<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musicdb</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Welcome to <span>musicdb</span></h1>

    <h2>Choose a mood to get started</h2>
    <!--<div class="button-container">
        <form action="/search" method="get">
        <ul>

            {% for mood in Moods %}
            <button name="mood" value="{{ mood }}" type="submit">{{ mood }}</button>
            {% endfor %}
        </ul>
    </div> -->

    <div class="booba-container">
        <form action="/add-song" method="get"> <!-- Use GET for initial access -->
            <button type="submit" id="boobas">( ๏ 人 ๏ )</button>
            <div class="arrow-text">Click me to add your favorite songs!</div>
        </form>
    </div>

        
<footer><p>•a classid and kuttapan initiative•</p></footer>
</body>
</html>