<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <h2>sign in</h2>
    <form class="info" action="/login" method="post">

        <input class="in1" type="text" id="username" name="username" placeholder="username"><br><br>
        
        <input class="in2" type="password" id="password" name="password"placeholder="password" required><br><br>
        
        <button class="submitit" type="submit">submit</button>

        <button class="home"  id="fixed-button" onclick="window.location.href='/'"> ←</button>
    </form>

    <div class="user-stuff-2"></div>
    <form action="/register" method="get">
        <p class="logintext">Dont have an account?</p>
        <button class="login" type="submit" "> Sign up </button>
    </form>
</div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>
