<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Song</title>
    <link rel="stylesheet" href="../static/edit.css">
</head>
<body>
    <h1>Update Song</h1>
    <form action="/update-song/{{ song[0] }}" method="POST">
        <div class="title1">
            <label class="jaba" for="title">Title:</label><br>
            <input class="in1" type="text" id="title" name="title" value="{{ song[2] }}" required>
        </div>
        <br>
        <div class="title2">
            <label class="jaba" for="artist">Artist:</label><br>
            <input class="in2" type="text" id="artist" name="artist" value="{{ song[1] }}" required>
        </div>
        <br>
        <div class="title3">
            <label class="jaba" for="mood">Mood:</label><br>
            <input class="in3" type="text" id="mood" name="mood" value="{{ song[3] }}" required>
        </div>
        <br>
        <button class="submitit" type="submit">submit</button>

        <button class="home"  id="fixed-button" onclick="window.location.href='/'"> ←</button>
    </form>
</body>
</html>
